<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Pessoa</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</head>
<body>
<h1>Cadastrar Pessoa</h1>

<br>
<div th:each=" m : ${msg}">
    <span th:text="${m}"></span>
</div>
<br>

<form action="salvarPessoa" method="post" th:object="${pessoaobj}">
    <label>ID</label><br>
    <input name="id" th:field="*{id}" readonly="readonly"><br>
    <label>Nome:</label><br>
    <input type="text" name="nome" th:field="*{nome}"><br>
    <label>Sobrenome:</label><br>
    <input type="text" name="sobrenome" th:field="*{sobrenome}"><br>
    <label>idade:</label><br>
    <input type="number" name="idade" th:field="*{idade}"><br>
    <input type="submit" value="salvar"><br>
</form>
<br>
<br>
<form action="pesquisarpessoas" method="post">
    <label>Pesquisar por nome:</label>
    <input name="nomepesquisa">
    <input type="submit" value="buscar">
</form>
<br>
<br>
<a href="/listapessoas">listar Pessoas</a>
<table>
    <tr th:each="pessoa : ${pessoas}">
        <th th:text="${pessoa.id}"></th>
        <th><a th:href="@{/telefonepessoa/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text="${pessoa.nome}"></span></a>
        </th>
        <th th:text="${pessoa.sobrenome}"></th>
        <th th:text="${pessoa.idade}"></th>
        <th><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></th>
        <th><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></th>
    </tr>

</table>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</body>
</html>