<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Telefones</title>
</head>
<body>

<br>
<div th:each=" m : ${msg}">
    <span th:text="${m}"></span>
</div>
<br>

<h1>Tela de telefones</h1>
<br>
<a href="/cadastroPessoa">cadastro</a>
<br>
<div th:each="p:  ${pessoaobj}">
    <div>
        <p>Id: <span th:text="${p.id}"></span></p>
        <p>Nome: <span th:text="${p.nome}"></span></p>
        <p>Sobrenome: <span th:text="${p.sobrenome}"></span></p>
        <p>Idade: <span th:text="${p.idade}"></span></p>
    </div>
</div>
<h4>Telefones</h4>
<form th:action="@{/addfonepessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="post">
    <div>
        <label for="numero">Numero:</label>
        <input id="numero" name="numero" type="text">
    </div>
    <div>
        <label for="tipo">Tipo:</label>
        <input id="tipo" name="tipo" type="text">
    </div>
    <input type="submit" value="Adicionar">
</form>

<table>
    <tr th:each="fone : ${telefones}">
        <td th:text="${fone.numero}"></td>
        <td th:text="${fone.tipo}"></td>
        <th><a th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}">Excluir</a></th>
    </tr>
</table>


</body>
</html>